@{
    ViewData["Title"] = "Contato";
}
<h1>@ViewData["Title"]</h1>

<h3>Entre em contato conosco caso haja alguma dúvida!</h3>

<p>E-mail: IlleronFashion@outlook.com</p> 
<p>Telefone: 098991232323</p> 
<p>Instagram: Illeron_Fashion</p>

