@{
  ViewData["Title"] = "Galeria";
}

<div class="text-center">
  <h2>Galeria de Estilizações</h2>
</div>



<div class="container-flex">

  <div class="row ">
    <div class="col-lg-6 col-md-12 col-sm-12">
      <img src="/img/perso1.jpg" alt="Jaqueta Grafitada" width="500px" height="550px">
      <h5>Jaqueta Grafitada</h5>
    </div>
    <div class="col-lg-6 col-md-12 col-sm-12">
      <img src="/img/perso2.jpg" alt="Calça Jeans com Desenhos" width="500px" height="550px">
      <h5>Calça Jeans com Desenhos</h5>
    </div>
  </div>
  <div class="row ">
    <div class="col-lg-6 col-md-12 col-sm-12">
      <img src="/img/perso3.jpg" alt="Moletom Estilizado" width="500px" height="550px">
      <h5>Moletom Estilizado</h5>
    </div>
    <div class="col-lg-6 col-md-12 col-sm-12">
      <img src="/img/perso4.jpg" alt="Camisa Grafitada" width="500px" height="550px">
      <h5>Camisa Grafitada</h5>
    </div>
  </div>
</div>