@{
  ViewData["Title"] = "Produtos";
}

<div class="text-center">
  <h2>Veja alguns de nossos produtos!</h2>
</div>

<div class="container-flex">

  <div class="row ">
    <div class="col-lg-6 col-md-12 col-sm-12">
      <img src="/img/conj2.jpg" alt="Conjunto Feminino" width="500px" height="550px">
      <h5>Conj. Feminino - R$120,00</h5>
    </div>
    <div class="col-lg-6 col-md-12 col-sm-12">
      <img src=" /img/calca2.jpg" alt="Calça" width="500px" height="550px">
      <h5>Calça - R$270,00</h5>
    </div>
  </div>
  <div class="row">
    <div class="col-lg-6 col-md-12 col-sm-12">
      <img src="/img/conj1.jpg" alt="Conjunto Masculino" width="500px" height="550px">
      <h5>Conj. Masculino - R$140,00</h5>
    </div>
    <div class="col-lg-6 col-md-12 col-sm-12">
      <img src=" /img/calca3.jpg" alt="Camiseta" width="500px" height="550px">
      <h5>Calça - R$240,00</h>
    </div>
  </div>
</div>
</div>
